{% extends "layout.html" %}
{% block content %}

{{ pagedown.include_pagedown() }}

	
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 d-none d-lg-block position-fixed">
				<!-- User info , photos -->
			<a href="{{ url_for('user_posts',username=current_user.username) }}" style="text-decoration:none;">
		      <header class="mb-2" data-toggle="modal" data-target="#profile">
		        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="harun profile" class="profile-thumbnail">
		        <div class="profile-name">
		          <h3>{{current_user.username}}</h3>
		          <small>@{{current_user.email.split("@")[0] | lower}}</small>
		        </div>
		      </header>
		    </a>

		    <div class="menu mb-2" style="background:#191917;border-radius:10px;">
		      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
		       <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages 
		        {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
		      <a class="dropdown-item" href="{{ url_for('photos') }}"> 📷 Photos</a>
		      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
		      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
		      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
		      <!--<a class="dropdown-item" href="{{ url_for('new_product') }}"> 🛠 Sell</a>-->
		      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
		      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
		      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
		    </div>

		  <header>
		    <img src="{{ url_for('static', filename='resources/' + 'logo.svg') }}" alt="logo" class="profile-thumbnail">
		    <div class="profile-name">
		      <h3 class="logo">BAMBI</h3>
		      <small id="year"></small>
		    </div>
		  </header>
		</div>

		<div class="col-lg-6 offset-lg-3">
			<h2 class="mt-1">New Post</h2>
			<div class="post">
			<!--<header>
			    <img src="{{ image_file }}" alt="{{current_user.username}} profile" class="profile-thumbnail">
			    <div class="profile-name">
			      <h3>{{current_user.username}}</h3>
			      <small>{{current_user.email}}</small>
			    </div>
			  </header>-->
			  {% with messages = get_flashed_messages(with_categories=true) %}
		    	{% if messages %}
		      		{% for category , message in messages %}
		        		<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
	      					{{message}}
	        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          				<span aria-hidden="true">&times;</span>
	        			</button>
	      				</div>
		      		{% endfor %}
		    	{% endif %}
	  		  {% endwith %}
			  <div id="inner">
			   <div class="content-section">
				  <form method="POST" action="" enctype="multipart/form-data">
				    {{ form.hidden_tag() }}
				    <fieldset class="form-group">
				      <div class="form-group">
				        {{ form.title.label(placeholder="title is optional", class="form-control-label") }}
				        {% if form.title.errors %}
				        {{ form.title(placeholder="title is optional", class="form-control form-control-lg is-invalid") }}
				        <div class="invalid-feedback">
				          {% for error in form.title.errors %}
				          <span>{{ error }}</span>
				          {% endfor %}
				        </div>
				        {% else %}
				        {{ form.title(placeholder="title is optional", class="form-control form-control-lg") }}
				        {% endif %}
				      </div>
				      <div class="form-group">
				        {{ form.content.label(placeholder="speak your mind...", class="form-control-label") }}
				        {% if form.content.errors %}
				        {{ form.content(placeholder="speak your mind...", class="form-control form-control-lg is-invalid") }}
				        <div class="invalid-feedback">
				          {% for error in form.content.errors %}
				          <span>{{ error }}</span>
				          {% endfor %}
				        </div>
				        {% else %}
				        {{ form.content(placeholder="speak your mind...", class="form-control form-control-lg", rows="5") }}
				        {% endif %}
				      </div>
				      <div class="form-group">
				        {{ form.image.label(class="form-control-label") }}
				        {% if form.image.errors %}
				        {{ form.image(class="form-control-file is-invalid") }}
				        <div class="invalid-feedback">
				          {% for error in form.image.errors %}
				          <span>{{ error }}</span>
				          {% endfor %}
				        </div>
				        {% else %}
				        {{ form.image(class="form-control-file") }}
				        {% endif %}
				      </div>
				    </div>
				    <div class="form-check mb-2">
		                {{ form.anonymous(class="form-check-input") }}
		                {{ form.anonymous.label(class="form-check-label") }}
		            </div>
				    </fieldset>
				    <div class="form-group">
				      {{ form.submit(class="btn btn-outline-warning") }}
				    </div>
				  </form>

			  </div>
		</div>
		<br>
		</div>

		<!--<div class="col-3">
			 <div class="card" style="color:#000;">
		      <img class="card-img-top" src="https://bit.ly/2Zner4a" alt="logo">
		      <div class="card-body">
		        <h5 class="card-title"><small class="text-muted">sponsored</small></h5>
		        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
		      </div>
		      <div class="card-footer">
		        <small class="text-muted">Last updated 3 mins ago</small>
		      </div>
		    </div>
		</div>
  	</div>
</div>-->


{% endblock content %}
