{% extends "layout.html" %}
{% block content %}


<style>
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 50%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card img{
  height: 250px;
  width:100%;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  height: 100%;
}

.card_title {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000;
  font-size: 1.0rem;
  line-height: 1.5;
  font-weight: 400;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block position-fixed">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header class="mb-2">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>@{{current_user.email.split("@")[0] | lower}}</small>
        </div>
      </header>

    <div class="menu mb-2" style="background:#191917;border-radius:10px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
       <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages 
        {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>


  <header data-toggle="popover" data-content="🍌: Click to know more about Bambi">
    <a href="{{url_for('about')}}" target="_blank" style="color: #F9E9C8;text-decoration: none;">
    <img src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small id="year"></small>
    </a>
    </div>
  </header>
  {% else %}
  <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
    <img src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">Hello Friend!</h3>
      <small>how about signing in?</small>
    </div>
  </header>
  <br>
     <div class="menu" style="border:1px solid #F9E9C8;border-radius: 5px;">
      <a class="dropdown-item" href="{{ url_for('new_post') }}"> 🍧 Post</a>
       <a class="dropdown-item" href="{{ url_for('inbox') }}"> 💬 Inbox</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
    </div>
  {% endif %}
</div>



    <div class="col-lg-6 offset-lg-3">
      <!-- content area -->
          <h2>Discover New Friends</h2>
          <!--{% if current_user.is_authenticated %}
          <section class="cardi scroll">
            {% for user in users if user != current_user %}
            <div class="others">
            <div class="card--content"><a href="{{url_for('user_posts', username=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt=""></a>
              <h5 style="font-size:15px;">{{user.username.title()}}<i class="far fa-check-circle"></i>: I'm {{user.age}} from {{user.country}} and I study {{user.department}}. <a href="{{url_for('user_posts', username=user.username)}}" target="_blank">MORE</a></h5>
            </div>
            </div>
            {% endfor %}
            <div class="other">
            <div class="card--content"><a href="{{url_for('swipe')}}"><img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo"></a>
              <h5 style="font-size:15px;">BAMBI<i class="far fa-check-circle"></i>: Wanna see more friend matches for you? <a href="{{url_for('swipe')}}" target="_blank">Start Swiping!</a></h5>
            </div>
            </div>
          </section>
          <br>
          {% endif %}
          <div style="margin-bottom: 30px;"></div>-->

          <div class="main">
            <ul class="cards">
              {% for user in users if user != current_user and not current_user.is_following(user) %}
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><a href="{{url_for('user_posts', username=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" style="width:100%;"></a></div>
                  <div class="card_content">
                    <h2 class="card_title">{{user.username}} {% if not current_user.is_following(user) %}<a class="btn btn-sm btn-outline-primary mb-1" href="{{ url_for('follow', username=user.username) }}" style="font-size:12px;text-decoration:none;color:#000;">Follow</a>{% endif %} </h2>
                    <p class="card_text">{% if user.bio %} {{user.bio | safe}} {% else %} I'm from {{user.country}} and I study {{user.department}}.{% endif %}</p>
                    {% if user.single and user.gender != current_user.gender %}
                    {% if user.instagram %}<a href="https://www.instagram.com/{{user.instagram}}"><img src="https://image.flaticon.com/icons/svg/733/733614.svg" style="width:30px;height:30px;"></a>{% endif %}
                    {% if user.snapchat %} <a href="https://www.snapchat.com/add/{{user.snapchat}}"><img src="https://image.flaticon.com/icons/svg/174/174870.svg" style="width:30px;height:30px;"></a>{% endif %}
                    {% endif %}
                    <!-- mutual friends -->
                    {% if user != current_user %}
                    <div class="mb-1 mt-2" style="margin-top: -10px">
                      <code style="font-size:13px;color:#000;" class="mr-2">follows</code>
                    {% for user in user.followed %}
                      {% if user in current_user.followed %}
                      <a href="{{url_for('user_posts', username=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" style="width:20px;height:20px;border-radius:50%;margin-left:-10px;border:1px solid #000;" title="{{user.username.title()}}"></a>
                      {% endif %}
                  {% endfor %}
                  </div>
                  {% endif %}

                  </div>
                </div>
              </li>
              {% endfor %}
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="{{ url_for('static', filename='resources/' + 'default.jpg') }}" style="width:100%;"></div>
                  <div class="card_content">
                    <h2 class="card_title">Bambi<i class="far fa-check-circle"></i></h2>
                    <p class="card_text">Wanna see more friend matches for you? <a href="{{url_for('swipe')}}" target="_blank">Start Swiping!</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>


    </div>



    <div class="col-lg-3 d-none d-lg-block position-fixed offset-lg-9">
      {% if current_user.is_authenticated %}
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div style="background:#191917;padding:7px;cursor:pointer;border-radius:5px;overflow:auto;height:318px;">
        <h5 style="padding-left: 3px;">My Friends</h5>
        {% for user in users if user.is_following(current_user) and current_user.is_following(user) %}
        <header>
        <a href="{{url_for('user_posts', username=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="default profile" class="profile-thumbnail"></a>
        <div class="profile-name">
          <h3>{{user.username}}</h3>
          {% if user.country == current_user.country %}
          <small>From {{user.country}}</small>
          {% endif %}
          {% if user.department == current_user.department %}
          <small>Studies {{user.department}}</small>
          {% endif %}
        </div>
        <div class="follow-btn">
            {% if not current_user.is_following(user) %}<a class="pt-2 pl-2" href="{{ url_for('follow', username=user.username) }}" style="font-size:12px;text-decoration:none;">Follow</a>{% endif %}
          </div>
      </header>
      {% endfor %}
      </div>
      <br>
      <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    <div id="new_post">
      <button class="post_btn"><a href="{{ url_for('new_post') }}" style="color:#F9E9C8;"><i class="fas fa-feather-alt" style="font-size:30px;"></i></a></button>
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="{{ url_for('new_post') }}"  style="color:#000;text-decoration: none">
      <strong>🍌 Perks of having a Bambi Account!</strong></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <a href="{{ url_for('new_post') }}"  style="color:#000;text-decoration: none">
      <strong>🍧 Post and View Stories!</strong> See what your friends are up to.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="{{ url_for('swipe') }}"  style="color:#000;text-decoration: none">
      <strong>🔥 Swipe Friends!</strong> Swipe left and right to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <strong>💬 Check your Inbox! </strong>You could be having Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>



{% endblock content %}
