{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block position-fixed">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header class="mb-2">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>@{{current_user.email.split("@")[0] | lower}}</small>
        </div>
      </header>


    <div class="menu mb-2" style="background:#191917;border-radius:10px">
      <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
      <!--<a class="dropdown-item" href="{{ url_for('new_product') }}"> 🛠 Sell</a>-->
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>

  <header data-toggle="popover" data-content="🍌: Click to know more about Bambi">
    <a href="{{url_for('about')}}" target="_blank" style="color: #F9E9C8;text-decoration: none;">
    <img src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small id="year"></small>
    </a>
    </div>
  </header>
  {% else %}
  <header>
    <img src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">Hello Friend!</h3>
      <small>how about signing in?</small>
    </div>
  </header>
  <br>
     <div class="menu" style="background:#191917;border-radius:10px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend</a>
       <a class="dropdown-item" href="{{ url_for('inbox') }}"> 💬 Inbox</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
    </div>
  {% endif %}
</div>



    <div class="col-lg-6 offset-lg-3">
      <!-- content area -->


          {% if current_user.is_authenticated %}
          <section class="cardi scroll mb-2">
            <div class="me">
            <div class="card--content">
              <a href="{{url_for('user_posts', username=current_user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"></a>
            </div>
              <small style="font-size:15px;padding-left:15px">
              <code style="color:#007bff;">{{current_user.username.lower()}}</code>
              {% if current_user.username in ["harun" , "bambi"] %}<img src="https://image.flaticon.com/icons/svg/1271/1271380.svg" style="width:15px;height:15px;">{% endif %}
            </small>
            </div>
            {% for user in current_user.followed %}
            <div class="others">
            <div class="card--content"><a href="{{url_for('user_posts', username=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt=""></a>
            </div>
            <small style="font-size:15px;color:#f8f8f2;padding-left:15px">
            <code style="color:#fff;">{{user.username.lower()}}</code>
            {% if user.username in ["harun" , "bambi"] %}<img src="https://image.flaticon.com/icons/svg/1271/1271380.svg" style="width:15px;height:15px;">{% endif %}
          </small>
            </div>
            {% endfor %}
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
          </section>
          {% endif %}





   {% for post in posts.items if not post.anonymous %}
    <div class="post mb-2">
      <header class="pb-0" style="padding:0;">
        <a href="{{url_for('user_posts', username=post.author.username)}}">
          <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="profile pic" class="profile-thumbnail" data-toggle="popover" data-content="😎 : I'm from {{post.author.country}} and I study {{post.author.department}}. I am Interested in {{post.author.hobby}}"></a>
          <div class="profile-name">
            <h3 data-toggle="popover"><a href="{{url_for('user_posts', username=post.author.username)}}" style="color:#fff;">{{post.author.username}}
             {% if post.author.username in ["harun" , "bambi"] %}<img src="https://image.flaticon.com/icons/svg/1271/1271380.svg" style="width:17px;height:17px;margin-left: -5px;">{% endif %}
           </a></h3>
            <small>@{{post.author.email.split("@")[0] | lower}}</small>
          </div>
          <div class="follow-btn">
            {% if post.author != current_user %}
              <!--<i class="fas fa-heart love" style="font-size: 28px;"></i>-->
              {% if current_user.has_liked_post(post) %}
                <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}" style="text-decoration:none;">❤</a>
              {% else %}
                <a href="{{ url_for('like_action', post_id=post.id, action='like') }}" style="text-decoration:none;">👍</a>
              {% endif %}
            {% else %}
            <div class="dropdown dropleft">
            <button class="btn btn-dark btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;">
              <i class="fas fa-ellipsis-v" style="font-size: 28px;"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background:none;border:none;margin-top:-7px;">
              <a class="btn btn-warning btn-sm m-1" href="{{url_for('update_post', post_id=post.id)}}">✏edit</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">🗑️delete</button>
            </div>
             <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel" style="color:#000;">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endif %}
          </div>
        </header>

        <div id="inner" class="mb-2">
          <p style="font-size:30px;"><a href=" {{ url_for('post', post_id=post.id) }} " style="color:#fff;">{{post.title}}</a></p>
          {% if post.image %}
          <a href=" {{ url_for('post', post_id=post.id) }} " style="color:#fff;text-decoration:none;">
            <img class="mb-2" src="{{ url_for('static', filename='posts/' + post.image) }}" style="width:100%;height:100%;border-radius:5px;">
          </a>
          {% endif %}
          <p>
            {%if post.image%}<small>{{post.author.email.split("@")[0] | lower}}</small>{%endif%}
            <a href=" {{ url_for('post', post_id=post.id) }} " style="color:#fff;text-decoration:none;">{{post.content| truncate(420) | safe | urlize(40, target='_blank')}}</a>
            {% set words = post.content.split() %}
            {% if words|count > 60 %}<a class="badge badge-danger" href="{{url_for('post', post_id=post.id)}}">👀read more</a>{% endif %}
          </p>
        </div>

        <div style="max-height:250px;overflow:auto" class="mb-2">
            {% if post.comments.count() > 0 %}<code>{{post.comments.count()}} comments</code><br>{% endif %}
            {% for comment in post.comments if current_user.is_authenticated %}
            <a href="{{url_for('user_posts', username=comment.author.username)}}">
              <img src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}" style="width:20px;height:20px;border-radius:50%;"></a>
                <span>
                  <span style="color:#1e90ff;">{{comment.author.username}}:</span> 
                  <span style="color:#fff;">{{comment.body}}</span> <br>
                  <small class="text-muted ml-4">{{ moment(comment.date_posted).fromNow() }}</small>
                </span> <br>
            {% endfor %}
        </div>

        <footer>
          <div class="stats">
            <div class="Retweets">
              {% set words = post.content.split() %}
               <a class="btn btn-sm btn-outline-dark p-1" data-toggle="popover" data-content="liked by {% for user in users if user.has_liked_post(post) %} {{user.username}}, {% endfor %}">❤ {{ post.likes.count() }} </a> 
               
               <a class="btn btn-sm btn-outline-dark p-1 ml-1" title="{{post.date_posted.strftime('%a, %b %d, %Y at %H:%M:%S')}}">⏳ {{ moment(post.date_posted).fromNow() }}</a>

               {% if words | count > 60 %} 
               <a class="btn btn-sm btn-outline-dark p-1">{{words | count}} words</a> 
               {% endif %}

               {% if current_user.is_authenticated %}
                <a class="btn btn-sm btn-outline-dark p-1 ml-1" href="{{url_for('post', post_id=post.id)}}" style="color:#fff;">💭comment</a> 
                {% endif %}
            </div>
          </div>
        </footer>
    </div>
  {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a href="{{ url_for('home', page=page_num) }}" class="btn btn-warning mb-4">{{page_num}}</a>
        {% else %}
          <a href="{{ url_for('home', page=page_num) }}" class="btn btn-outline-warning mb-4">{{page_num}}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    <div style="margin-bottom: 40px;"></div>
</div>



    <div class="col-lg-3 d-none d-lg-block position-fixed offset-sm-9">
      {% if current_user.is_authenticated %}
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="alert alert-warning alert-dismissible fade show dark-theme" role="alert">
        <a href="{{ url_for('f_posts') }}"  style="color:#fff;text-decoration: none">
      <span style="color:#1e90ff;">🍧 Post Something!</span> Tell your friends what you're up to.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show dark-theme" role="alert">
        <a href="{{ url_for('discover') }}"  style="color:#fff;text-decoration: none">
      <span style="color:#1e90ff;">🔥 Discover Friends!</span> Swipe left and right on discover to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-dark alert-dismissible fade show dark-theme" role="alert">
      <span style="color:#1e90ff;">💬 Check your Inbox! </span>You have Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="background:#191917;padding:7px;cursor:pointer;border-radius:5px;overflow:auto;height:318px;">
        <h5 style="padding-left: 3px;">Friends - <small><a href="{{url_for('discover')}}" target="_blank">view all</a></small></h5>
        {% for user in users if user != current_user and  not current_user.is_following(user) %}
        <header>
        <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{user.username}}</h3>
          {% if user.country == current_user.country %}
          <small>From {{user.country}}</small>
          {% endif %}
          {% if user.department == current_user.department %}
          <small>Studies {{user.department}}</small>
          {% endif %}
        </div>
        <div class="follow-btn">
            <button style="background:none;"><a href="{{url_for('follow', username=user.username)}}"target="_blank">❤</a></button>
          </div>
      </header>
      {% endfor %}
      </div>
      <br>
      <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    <div id="new_post">
      <button class="post_btn"><a href="{{ url_for('f_posts') }}" style="color:#F9E9C8;"><i class="fas fa-feather-alt" style="font-size:30px;"></i></a></button>
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="{{ url_for('f_posts') }}"  style="color:#000;text-decoration: none">
      <strong>🍌 Perks of having a Bambi Account!</strong></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <a href="{{ url_for('f_posts') }}"  style="color:#000;text-decoration: none">
      <strong>🍧 Post and View Stories!</strong> See what your friends are up to.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="{{ url_for('discover') }}"  style="color:#000;text-decoration: none">
      <strong>🔥 Discover Friends!</strong> Swipe left and right on discover to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <strong>💬 Check your Inbox! </strong>You could be having Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
     $('.love').click(function(){
      $(this).toggleClass('liked');
    });
  </script>

  <script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  }); 
});
</script>

<script id="dsq-count-scr" src="//baambi.disqus.com/count.js" async></script>

{% endblock content %}
