{% extends "layout.html" %}
{% block content %}


<style>
header, footer {
   display: flex;
   flex-direction: row;
 }
 header .profile-thumbnail {
   width: 55px;
   height: 55px;
   border-radius: 50%;
 }
 header .profile-name {
   display: flex;
   flex-direction:column;
   margin-left: 10px;
 }
 header .follow-btn {
   display: flex;
   margin: 0 0 0 auto;
 }
 header .follow-btn button {
   border: 0;
   border-radius: 3px;
   padding: 5px;
 }
 header h3, header h4 {
   display: flex;
   margin: 0;
 }
 #inner p {
   margin-bottom: 10px;
   font-size: 16px;
   color:#f8f8f2;
 }
 #inner hr {
   margin: 20px 0;
   border-style: solid;
   opacity: 0.1;
   color:#F9E9C8;
 }
 footer .stats {
   display: flex;
   font-size: 15px;
 }
 footer .stats strong {
   font-size: 18px;
 }
 footer .stats .likes {
   margin-left: 10px;
 }
 footer .cta {
   margin-left: auto;
 }
 footer .cta button {
   border: 0;
   background: transparent;
 }
 .post{
   border: 1px solid #a0998a;
   padding: 10px;
   border-radius: 7px;
 }
 .post_btn{
  background-color : #000;
  color: #F9E9C8;
  padding: 10px 20px;
  border:none;
  outline:none;
  border:2px solid #F9E9C8;
  padding: 2px;
  border-radius: 50%;
  height:70px;
  width:70px;
}
#new_post{
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.liked {
  color: red;
}
.love{
  cursor: pointer;
}
.subtle{
  background-color: #000;
  border: none;
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 10px;
}
.subtle:focus{
  background-color: #000;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  color: #fff;
}
.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.menu a:hover {
  color: #000;
}
.cardi{
  background: #000;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}
.cardi::-webkit-scrollbar {
  display: none;
}
.scroll img{
  width:100%;
  height:100%;
  border-radius:10px;
}
.card--content {
  background: linear-gradient(#ffcccc,#ccffff);
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius:10px;
  border:1px solid #fff;
  border-radius:10px;
  padding:1px;
  flex: 0 0 auto;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;cursor:pointer;" data-toggle="modal" data-target="#profile" title="🍌: Click to Preview Your Profile Info">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>@{{current_user.email.split("@")[0] | lower}}</small>
        </div>
      </header>
      <br>

      <!-- Profile Modal -->
      <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>-->
          <div class="modal-body">
            <div class="card" style="color:#000;text-align:center;">
            <img class="card-img-top" src="{{ image_file }}" alt="Card image cap" style="height:250px;">
            <div class="card-body">
              <h5 class="card-title">{{current_user.username}}</h5>
                My name is {{current_user.username}} and I study {{current_user.department}} at Near East University.
                I am from {{current_user.country}} and I am {{current_user.age}} years old. 
            </div>
            <div class="card-footer">
              My hobbies include {{current_user.hobby}}.My Student number is {{current_user.student_number}} and my email is {{current_user.email}}
            <div>
            </div>
          </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"><a href="{{ url_for('account') }}" style="color:#F9E9C8;">Edit</a></button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="menu" style="border:1px solid #F9E9C8;border-radius: 5px;">
      <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
      <a class="dropdown-item" href="{{ url_for('new_product') }}"> 🛠 Sell</a>
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>
  <br>

  <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;" data-toggle="popover" data-content="🍌: Click to know more about Bambi">
    <a href="{{url_for('about')}}" target="_blank" style="color: #F9E9C8;text-decoration: none;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small id="year"></small>
    </a>
    </div>
  </header>
  {% else %}
  <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">Hello Friend!</h3>
      <small>how about signing in?</small>
    </div>
  </header>
  <br>
     <div class="menu" style="border:1px solid #F9E9C8;border-radius: 5px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend</a>
       <a class="dropdown-item" href="{{ url_for('inbox') }}"> 💬 Inbox</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
    </div>
  {% endif %}
</div>



    <div class="col-lg-6">
      <!-- content area -->


          {% if current_user.is_authenticated %}
          <section class="cardi scroll">
            <div class="me">
            <div class="card--content">
              <a href="{{url_for('user_posts', username=current_user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"></a>
            </div>
              <small style="font-size:15px;padding-left:15px">
              {{current_user.username.lower()}}
              {% if current_user.username in ["harun" , "bambi"] %}<img src="{{ url_for('static', filename='profile_pics/' + 'correct.png') }}" style="width:15px;height:15px;">{% endif %}
            </small>
            </div>
            {% for user in current_user.followed %}
            <div class="others">
            <div class="card--content"><a href="{{url_for('user_posts', username=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt=""></a>
            </div>
            <small style="font-size:15px;color:#f8f8f2;padding-left:15px">
            {{user.username.lower()}}
            {% if user.username in ["harun" , "bambi"] %}<img src="{{ url_for('static', filename='profile_pics/' + 'correct.png') }}" style="width:15px;height:15px;">{% endif %}
          </small>
            </div>
            {% endfor %}
            <div class="card--content"><img src="" alt=""></div>
            <div class="card--content"><img src="" alt=""></div>
            <div class="card--content"><img src="" alt=""></div>
          </section>
          <br>
          {% endif %}





   {% for post in posts.items %}
    <div class="post">
      <header>
          <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="profile pic" class="profile-thumbnail" data-toggle="popover" data-content="😎 : I am {{post.author.age}} from {{post.author.country}} and I study {{post.author.department}}. I am Interested in {{post.author.hobby}}">
          <div class="profile-name">
            <h3 data-toggle="popover"><a href="{{url_for('user_posts', username=post.author.username)}}" style="color:#F9E9C8;">{{post.author.username}}
             {% if post.author.username in ["harun" , "bambi"] %}<img src="{{ url_for('static', filename='profile_pics/' + 'correct.png') }}" style="width:20px;height:20px;margin-left: -5px;">{% endif %}
           </a></h3>
            <small>@{{post.author.email.split("@")[0] | lower}}</small>
          </div>
          <div class="follow-btn">
            {% if post.author != current_user %}
              <i class="fas fa-heart love" style="font-size: 28px;"></i>
            {% else %}
            <div class="dropdown dropleft">
            <button class="btn btn-dark btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#000;">
              <i class="fas fa-ellipsis-v" style="font-size: 28px;"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #000;width: 20px;">
              <a class="btn btn-warning btn-sm m-1" href="{{url_for('update_post', post_id=post.id)}}">✏edit</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">🗑️delete</button>
            </div>
             <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel" style="color:#000;">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endif %}
          </div>
        </header>

        <div id="inner">
          <p style="text-transform: uppercase;letter-spacing: 2px;text-align: center;margin-top: 4px;background:#F9E9C8;color:#000;"><a href=" {{ url_for('post', post_id=post.id) }} " style="color:#000;">{{post.title}}</a></p>
          {% if post.image %}
          <img class="mb-2" src="{{ url_for('static', filename='profile_pics/' + post.image) }}" style="width:100%;height:100%;border-radius:5px;">
          {% endif %}
          <p>
            {%if post.image%}<small>{{post.author.email.split("@")[0] | lower}}</small>{%endif%}
            {{post.content| truncate(420) | safe | urlize(40, target='_blank')}}
            {% set words = post.content.split() %}
            {% if words|count > 60 %}<a class="badge badge-danger" href="{{url_for('post', post_id=post.id)}}">👀read more</a>{% endif %}
          </p>
          {% if current_user.is_authenticated %}
          <div class="comments mb-2">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="mb-2"style="width: 40px;height: 40px;border-radius:50%;">
            <input type="text" name="comment" placeholder="Join the Conversation" style="background:#000;border:none;border-radius:5px;outline:none;width:85%;height: 35px;padding:10px;color:#F9E9C8;margin-top:5px;">
          </div>
          {% endif %}
        </div>

        <footer>
          <div class="stats">
            <div class="Retweets">
              {% set words = post.content.split() %}
               <a class="badge badge-dark p-1">⏳ {{ moment(post.date_posted).fromNow() }}</a> | <a  class="badge badge-dark p-1" href="{{url_for('post', post_id=post.id)}}">🍒comments</a> <!--| <small>{{words | count}} words</small>-->
            </div>
          </div>
        </footer>
    </div>
    <br>
  {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a href="{{ url_for('home', page=page_num) }}" class="btn btn-warning mb-4">{{page_num}}</a>
        {% else %}
          <a href="{{ url_for('home', page=page_num) }}" class="btn btn-outline-warning mb-4">{{page_num}}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    <div style="margin-bottom: 40px;"></div>
</div>



    <div class="col-lg-3 d-none d-lg-block">
      {% if current_user.is_authenticated %}
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="{{ url_for('f_posts') }}"  style="color:#000;text-decoration: none">
      <strong>🍧 Post Something!</strong> Tell your friends what you're up to.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="{{ url_for('discover') }}"  style="color:#000;text-decoration: none">
      <strong>🔥 Discover Friends!</strong> Swipe left and right on discover to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
      <strong>💬 Check your Inbox! </strong>You have Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;cursor:pointer;border-radius:5px;overflow:auto;height:318px;">
        <h5 style="padding-left: 3px;">Friends - <small><a href="{{url_for('discover')}}" target="_blank">view all</a></small></h5>
        {% for user in users %}
        <header>
        <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{user.username}}</h3>
          {% if user.country == current_user.country %}
          <small>From {{user.country}}</small>
          {% endif %}
          {% if user.department == current_user.department %}
          <small>Studies {{user.department}}</small>
          {% endif %}
        </div>
        <div class="follow-btn">
            <button style="height:40px;background:#000;color:#F9E9C8;"><a href="{{url_for('user_posts', username=user.username)}}"target="_blank">❤</a></button>
          </div>
      </header>
      <br>
      {% endfor %}
      </div>
      <br>
      <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    <div id="new_post">
      <button class="post_btn"><a href="{{ url_for('f_posts') }}" style="color:#F9E9C8;"><i class="fas fa-feather-alt" style="font-size:30px;"></i></a></button>
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="{{ url_for('f_posts') }}"  style="color:#000;text-decoration: none">
      <strong>🍌 Perks of having a Bambi Account!</strong></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <a href="{{ url_for('f_posts') }}"  style="color:#000;text-decoration: none">
      <strong>🍧 Post and View Stories!</strong> See what your friends are up to.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="{{ url_for('discover') }}"  style="color:#000;text-decoration: none">
      <strong>🔥 Discover Friends!</strong> Swipe left and right on discover to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <strong>💬 Check your Inbox! </strong>You could be having Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
     $('.love').click(function(){
      $(this).toggleClass('liked');
    });
  </script>

  <script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  }); 
});
</script>

<script id="dsq-count-scr" src="//baambi.disqus.com/count.js" async></script>

{% endblock content %}
