<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en-au">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bambi is a fun place for Near East University students to manage their lives and make friends while at it. Join Today!" />
    <meta property="og:description" content="Bambi is a fun place for Near East University students to manage their lives and make friends while at it. Join today!" />
    <meta property="og:image" href="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" />
    <link rel="canonical" href="http://bambi.chat/">
    <meta property="og:title" content="Bambi - A Social Network for Near East University by Harun Mohamed">
    <meta property="og:description" content="Bambi is a fun place for Near East University students to manage their lives and make friends while at it.">
    <meta property="og:url" content="http://bambi.chat/">
    <meta property="og:site_name" content="Bambi">
    <meta property="og:image" content="http://bambi.chat/static/profile_pics/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Bambi is a fun place for Near East University students to manage their lives and make friends while at it.">
    <meta name="twitter:title" content="Bambi - A Social Network for Near East University by Harun Mohamed">
    <meta name="twitter:domain" content="Bambi">
    <meta name="twitter:creator" content="@harunnmohamed">
    <meta name="twitter:image:src" content="http://bambi.chat/static/profile_pics/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS styles in static -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- Font awesome kit -->
    <script src="https://kit.fontawesome.com/17192b7610.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155855958-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155855958-1');
    </script>


    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}">
    {% if title %}
      <title>Bambi - {{ title }}</title>
    {% else %}
      <title>Bambi</title>
    {% endif %}
    
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li>
               <div class="d">
                <input type="text" placeholder="🔍 Search Friends" id="search" onkeyup="filterFunction()" onclick="search()" class="dropbtn"> <!--onfocusout="searchout()"-->
              <div id="res" class="dropdown-content" style="overflow:auto;max-height:318px;">
                {% for user in users%}
                <a href="{{url_for('user_posts', username=user.username)}}" target="_blank"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="" style="width:30px;height:30px;border-radius:50%;"> {{user.username.lower()}} {% if user.username in ["harun" , "bambi"] %}🔥{% endif %}</a>
                {% endfor %}
              </div>
            </div>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto d-none d-lg-block" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" width="35" height="35" class="d-inline-block align-top" alt="">
        <span class="logo"></span>
        <span class="logo"></span>
        <!--<div class="progress-container d-none d-lg-block">
      <div class="progress-bar" id="myBar"></div>
    </div>-->
      </a>
  </div> 
    <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="progress-container d-block d-sm-none">
      <div class="progress-bar" id="myBar"></div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 settings">
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li>
            <div class="dropdown dropleft">
            <button class="btn  btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span>😎</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('f_posts') }}" data-toggle="popover" data-content="🍌: Add Posts with a Title"> 🍧 Friend</a>
              <a class="dropdown-item" href="{{ url_for('messages') }}" data-toggle="popover" data-content="🍌: Reply to your Messages"> 💬 Messages {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
              <a class="dropdown-item" href="{{ url_for('discover') }}" data-toggle="popover" data-content="🍌: Discover New Friends"> 🔥 Discover Friends</a>
              <a class="dropdown-item" href="{{ url_for('explore') }}" data-toggle="popover" data-content="🍌: Explore Random Stuff!"> 🔱 Explore</a> 
              <a class="dropdown-item" href="{{ url_for('dating') }}" data-toggle="popover" data-content="🍌: Love Hard Today!"> 💋 Dating</a> 
              <a class="dropdown-item" href="{{ url_for('market') }}" data-toggle="popover" data-content="🍌: Buy and Sell Stuff"> 👜 Market</a>
              <a class="dropdown-item" href="{{ url_for('new_product') }}" data-toggle="popover" data-content="🍌: Buy and Sell Stuff"> 🛠 Sell</a>
              <a class="dropdown-item" href="{{ url_for('account') }}" data-toggle="popover" data-content="🍌: Account Settings"> 🍪 Settings</a>
              <a class="dropdown-item" href="{{ url_for('blog') }}" data-toggle="popover" data-content="🍌: Bambi Blog"> 🎬 Blog</a>
              <a class="dropdown-item" href="{{ url_for('about') }}" data-toggle="popover" data-content="🍌: Know Bambi More"> 👋 About Bambi</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}" data-toggle="popover" data-content="🍌: Logout"> 🛫 Logout</a>
            </div>
          </div>
          </li>
          <!--<li>
            <div id="google_translate_element"></div>
          </li>-->
          {% else %}
            <li class="nav-item">
              <a  class="btn btn-sm btn-outline-primary" href="{{ url_for('login') }}" style="color:#F9E9C8;text-decoration: none;"> 😇 Log In</a> 
              <a  class="btn btn-sm btn-outline-success" href="{{ url_for('register') }}" style="color:#F9E9C8;text-decoration: none;"> 👽 Sign Up</a>
            </li>
          {% endif %}
        </ul>
    </div>
</nav>



  

  {% block content %} {% endblock %}

  {% if current_user.is_authenticated %}
      <div id="new_post" class="d-none d-lg-block">
          <button class="post_btn"><a href="{{ url_for('new_post') }}" style="color:#F9E9C8;" data-toggle="popover" data-content="🍌: Add Longer Posts with Titles">✏</a></button>
        </div>

    <div class="bottom d-block d-sm-none">

      <a href="{{url_for('user_posts', username=current_user.username)}}" class="active"><img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail" width="35px" height="35px;" style="border-radius:50%;"></a>

      <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" width="35px" height="35px;" class="d-inline-block align-top" alt=""></a>

      <a style="font-size:30px;cursor:pointer;" onclick="openNav()">🍪</a>

    </div>

    <div id="mySidenav" class="sidenav">
      <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail" width="90px" height="90px;" style="margin-left:45px;margin-bottom:20px;border-radius:50%">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
       <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
      <a class="dropdown-item" href="{{ url_for('new_product') }}"> 🛠 Sell</a>
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>
    {% else %}
    <div class="bottom d-block d-sm-none">

      <a href="{{ url_for('explore') }}" style="font-size:30px;cursor:pointer;" data-toggle="popover" data-content="🍌: Explore">🔱</a>

      <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" width="35px" height="35px;" class="d-inline-block align-top" alt=""></a>

      <a href="{{ url_for('login') }}" style="font-size:30px;cursor:pointer;" data-toggle="popover" data-content="🍌: Log In">🤓</a>

    </div>
    {% endif %}
    <style>
          .post_btn{
      background-color : #000;
      color: #F9E9C8;
      padding: 10px 20px;
      outline:none;
      border:1px solid #F9E9C8;
      padding: 2px;
      border-radius: 50%;
      height:50px;
      width:50px;
    }
    .post_btn:hover{
      outline: none;
    }
    #new_post{
      position: fixed;
      bottom: 20px;
      right: 30px;
    }
        /* width */
    ::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #000; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #555; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #F9E9C8; 
    }
    .progress-container {
      width: 100%;
      height: 8px;
      background: #000;
    }

    .progress-bar {
      height: 8px;
      background: #4caf50;
      width: 0%;
    }
    .bottom {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .bottom a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width:33.3%;
    height: 45px;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .bottom a.active {
    background-color: #4CAF50;
    color: white;
}
  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav  .closebtn:hover{
  color:#fff;
}
    </style>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,jv,pa,ru,zh-CN,tr,sw', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
    }
  </script>
  <script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      trigger: 'hover'
    }); 
  });
</script>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<script>
// Custom progress bar beneath logo
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>
<script>
  //get id Year and add current year using JS
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
<script>
  // Search Code
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function search() {
  document.getElementById("res").classList.toggle("show");
}

/*function searchout()  {
  document.getElementById("res").classList.toggle("show");
}*/


function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  div = document.getElementById("res");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

{% block scripts %}
    {{ moment.include_moment() }}

    <script>
        // ...
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
    </script>

{% endblock %}

  </body>
</html>
