{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block position-fixed">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header class="mb-2">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>@{{current_user.email.split("@")[0] | lower}}</small>
        </div>
      </header>

    <div class="menu mb-2" style="background:#191917;border-radius:10px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
       <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages 
        {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
      <a class="dropdown-item" href="{{ url_for('photos') }}"> 📷 Photos</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>

  <header data-toggle="popover" data-content="🍌: Click to know more about Bambi">
    <a href="{{url_for('about')}}" target="_blank" style="color: #F9E9C8;text-decoration: none;">
    <img src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small id="year"></small>
    </a>
    </div>
  </header>
  {% else %}
  <header class="mb-2">
    <img src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">Hello Friend!</h3>
      <small>how about signing in?</small>
    </div>
  </header>

     <div class="menu" style="background:#191917;border-radius:10px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
       <a class="dropdown-item" href="{{ url_for('inbox') }}"> 💬 Inbox</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
    </div>
  {% endif %}
</div>



    <div class="col-lg-9 offset-lg-3"> 
      <!-- sell alert-->
      <header class="mb-2 alert alert-dismissible">
        <img src="https://image.flaticon.com/icons/svg/1170/1170576.svg" alt="sell" style="width:60px;height:60px;">
        <div class="profile-name">
          <a href="{{ url_for('new_product') }}" style="text-decoration:none;">
          <h3 style="color:#fff;">Wanna Sell?</h3>
          <small>Post a product and let us do the magic for you.</small>
          </a>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </header> 
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      
  <div class="card-columns">
   {% for product in products %}
      <div class="card" style="border:1px solid #191917;border-radius:5px;">
        <img class="card-img-top img-fluid" src="{{ url_for('static', filename='market/' + product.image1) }}" alt="Card image cap">
        {% if product.author != current_user %}
          <i class="fas fa-heart love" style="font-size:26px;position:absolute;top:8px;right:8px;text-shadow: 0 0 2px #191917;"></i>
        {% else %}
                <div class="dropleft" style="position:absolute;top:8px;right:8px;">
                <button class="btn btn-dark btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;border:none;">
                  <i class="fas fa-ellipsis-v" style="font-size: 28px;text-shadow: 0 0 3px #191917;"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background:none;border:none;margin-top:-7px;">
                  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal" style="float:right;">🗑️delete</button>
                </div>
                 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel" style="color:#000;">Delete Product?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        {% endif %}




        <div class="card-block p-2" style="background:#191917;">
          <span style="text-transform:uppercase;font-weight:700;font-size:12px;letter-spacing:1.5px;">{{product.title}} • {{ moment(product.date_posted).fromNow() }}</span> <br>

          <span class="card-title" style="font-size:30px;color:#1e90ff;">{{product.price}}</span> <br>
          <code style="color:#fff;">{{product.description}}</code> <br>

          <small>📌 {{product.location}}</small>
          <small class="pl-3">📞 {{product.contact}}</small>
          {% if product.author != current_user %}
            <a href="{{ url_for('message',recipient=product.author.username) }}"><small class="pl-3">💬 DM</small></a>
          {% endif %}

          <div style="display:flex;" class="mt-3">
            <a href="{{url_for('user_posts', username=product.author.username)}}" style="color:#fff;">
            <img src="{{ url_for('static', filename='profile_pics/' + product.author.image_file) }}" style="height:45px;width:45px;border-radius:50%;"></a>
            <p class="ml-2" style="font-size:14px;font-weight:600;">{{product.author.username}} <br>
            <small>@{{product.author.email.split("@")[0] | lower}}</small>
            </p>
          </div><!--seller div-->

        </div>
      </div><!--card-->
  {% endfor %}
  </div><!--card-columns-->

  <div style="margin-bottom: 50px;"></div>
</div><!--col-9-->



    <!--<div class="col-lg-3 d-none d-lg-block position-fixed offset-lg-9">
      
    </div>-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
     $('.love').click(function(){
      $(this).toggleClass('liked');
    });
  </script>

  <script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  }); 
});
</script>

<script id="dsq-count-scr" src="//baambi.disqus.com/count.js" async></script>

{% endblock content %}
