<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bambi - Market</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<style>
  *, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #000;
}

*{
    font-family: 'Comfortaa', cursive;
  }
.info{
    padding:10px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F9E9C8;
    background: #000;
  }
.logo{
        color:#F9E9C8;
        letter-spacing:2px;
  }
  .card img{
      height:200px;
      width: 100;
  }
  header, footer {
   display: flex;
   flex-direction: row;
 }
  header .profile-thumbnail {
   width: 50px;
   height: 50px;
   border-radius: 50%;
 }
 header .profile-name {
   display: flex;
   flex-direction:column;
   margin-left: 10px;
 }
 .card{
     margin-bottom: 10px;
 }
</style>


</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 d-none d-lg-block">
        <ul class="navbar-nav mr-auto">
            <li>
              <span class="logo" title="Buy and sell stuff here">MARKET</span>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" width="35" height="35" class="d-inline-block align-top" alt="">
        <span class="logo"><!--BAMBI--></span>
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon d-none d-lg-block"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 settings d-none d-lg-block">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="logo" title="Buy and sell stuff here">MARKET</span>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">


    <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
        <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
            <div class="profile-name">
                <h5 style="padding-top:12px;">{{current_user.username}}</h5>
            </div>
        </header>
            <img class="card-img-top" src="https://images.unsplash.com/photo-1541903565640-451825e5aaf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
            <div class="card-body">
              
              <p class="card-text">Fairly used scooter</p>
              <a href="#" class="btn btn-primary">💃 buy:₺950</a>
              <a href="#" class="btn btn-success">👽 negotiable</a>
            </div>
          </div>


    
          <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                    <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                    <div class="profile-name">
                        <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                    </div>
                </header>
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1512499617640-c74ae3a79d37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                      
                      <p class="card-text">Iphone X</p>
                      <a href="#" class="btn btn-primary">💃 buy : ₺ 4500</a>
                      <a href="#" class="btn btn-dark">🐀 bid</a>
                    </div>
                  </div>

                  
            <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                    <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                        <div class="profile-name">
                            <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                        </div>
                    </header>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1530691328507-e5c2a29a5326?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                        <div class="card-body">
                        
                        <p class="card-text">Hoodie</p>
                        <a href="#" class="btn btn-primary">💃 buy : ₺ 150</a>
                        <a href="#" class="btn btn-danger">😈 trending</a>
                        </div>
                    </div>
                    

                    <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                            <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                                <div class="profile-name">
                                    <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                                </div>
                            </header>
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                                <div class="card-body">
                                
                                <p class="card-text">Vans</p>
                                <a href="#" class="btn btn-primary">💃 buy : ₺ 600</a>
                                <a href="#" class="btn btn-danger">😈 trending</a>
                                </div>
                            </div>


                            <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
        <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
            <div class="profile-name">
                <h5 style="padding-top:12px;">{{current_user.username}}</h5>
            </div>
        </header>
            <img class="card-img-top" src="https://images.unsplash.com/photo-1539114658890-4222fe247c05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
            <div class="card-body">
              
              <p class="card-text">Apple Watch</p>
              <a href="#" class="btn btn-primary">💃 buy:₺800</a>
              <a href="#" class="btn btn-success">👽 negotiable</a>
            </div>
          </div>


    
          <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                    <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                    <div class="profile-name">
                        <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                    </div>
                </header>
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1543163521-1bf539c55dd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                      
                      <p class="card-text">High Heels</p>
                      <a href="#" class="btn btn-primary">💃 buy : ₺ 320</a>
                      <a href="#" class="btn btn-danger">😈 trending</a>
                    </div>
                  </div>

                  
            <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                    <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                        <div class="profile-name">
                            <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                        </div>
                    </header>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                        <div class="card-body">
                        
                        <p class="card-text">Track Suit</p>
                        <a href="#" class="btn btn-primary">💃 buy:₺500</a>
                        <a href="#" class="btn btn-success">👽 negotiable</a>
                        </div>
                    </div>
                    

                    <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                            <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                                <div class="profile-name">
                                    <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                                </div>
                            </header>
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1488931352846-7ccb8b2225b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                                <div class="card-body">
                                
                                <p class="card-text">SPLY 350</p>
                                <a href="#" class="btn btn-primary">💃 buy : ₺ 1150</a>
                                <a href="#" class="btn btn-dark">🐀 bid</a>
                                </div>
                            </div>
        <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
        <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
            <div class="profile-name">
                <h5 style="padding-top:12px;">{{current_user.username}}</h5>
            </div>
        </header>
            <img class="card-img-top" src="https://images.unsplash.com/photo-1498661705887-3778d9ecb4ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
            <div class="card-body">
              
              <p class="card-text">Samsung S8</p>
              <a href="#" class="btn btn-primary">💃 buy : ₺2030</a>
              <a href="#" class="btn btn-dark">🐀 bid</a>
            </div>
          </div>


    
          <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                    <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                    <div class="profile-name">
                        <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                    </div>
                </header>
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1529699211952-734e80c4d42b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                      
                      <p class="card-text">Chess Board</p>
                      <a href="#" class="btn btn-primary">💃 buy : ₺ 680</a>
                      <a href="#" class="btn btn-danger">😈 trending</a>
                    </div>
                  </div>

                  
            <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                    <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                        <div class="profile-name">
                            <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                        </div>
                    </header>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1525257831700-183b9b8bf5c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                        <div class="card-body">
                        
                        <p class="card-text">Cake</p>
                        <a href="#" class="btn btn-primary">💃 buy : ₺90</a>
                        <a href="#" class="btn btn-success">👽 negotiable</a>
                        </div>
                    </div>
                    

                    <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 image" style="margin-bottom:10px;">
                            <header style="cursor:pointer;" title="Click to Preview Your Profile Info">
                                <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
                                <div class="profile-name">
                                    <h5 style="padding-top:12px;">{{current_user.username}}</h5>
                                </div>
                            </header>
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1551189611-85364a38e563?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                                <div class="card-body">
                                
                                <p class="card-text">New Generation Ipad Pro</p>
                                <a href="#" class="btn btn-primary">💃 buy : ₺ 5560</a>
                                <a href="#" class="btn btn-dark">🐀 bid</a>
                                </div>
                            </div>
        
        

          
    </div>
          
    </div>



  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</div>

</body>

</html>

