{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header class="mb-2">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>@{{current_user.email.split("@")[0] | lower}}</small>
        </div>
      </header>


    <div class="menu mb-2" style="background:#191917;border-radius:10px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
       <a class="dropdown-item" href="{{ url_for('messages') }}"> 💬 Messages {% set new_messages = current_user.new_messages() %}<span id="message_count" class="badge badge-warning"style="visibility: {% if new_messages %}visible{% else %}hidden {% endif %};">{{ new_messages }}</span></a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>

  <header>
    <img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small id="year"></small>
    </div>
  </header>
  {% else %}
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><small class="text-muted">sponsored</small></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br>
    <header>
    <img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small>&copy 2019</small>
    </div>
  </header>
  {% endif %}
</div>




    <div class="col-lg-6">
          {% if current_user.is_authenticated %}
          <section class="cardi scroll mb-2">
            {% for user in users if user != current_user %}
            <div class="others">
            <div class="card--content"><a href="{{ url_for('send_message',recipient=user.username) }}"><img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt=""></a>
            </div>
            <small style="font-size:15px;color:#f8f8f2;padding-left:15px">
            {{user.username.lower()}}
            {% if user.username in ["harun" , "bambi"] %}<img src="{{ url_for('static', filename='profile_pics/' + 'correct.png') }}" style="width:15px;height:15px;">{% endif %}
          </small>
            </div>
            {% endfor %}
            <div class="card--content"><img src="" alt=""></div>
            <div class="card--content"><img src="" alt=""></div>
            <div class="card--content"><img src="" alt=""></div>
          </section>
          {% endif %}





   {% for message in messages %}
    <div class="post mb-2">
      <header style="padding:0;">
          <img src="{{ url_for('static', filename='profile_pics/' + message.author.image_file) }}" alt="profile pic" class="profile-thumbnail">
          <div class="profile-name">
            <h3 data-toggle="popover"><a href="{{url_for('user_posts', username=message.author.username)}}" style="color:#F9E9C8;">{{message.author.username}}
             {% if message.author.username in ["harun" , "bambi"] %}<img src="{{ url_for('static', filename='profile_pics/' + 'correct.png') }}" style="width:17px;height:17px;margin-left: -5px;">{% endif %}
           </a></h3>
            <small>active {{ moment(message.author.last_seen).fromNow() }}</small>
          </div>
          <div class="follow-btn">
            <small><a href="{{ url_for('send_message',recipient=message.author.username) }}" style="text-decoration:none;">reply</a></small>
          </div>
        </header>

        <div id="inner">

          <p>{{message.body | safe | urlize(40, target='_blank')}}</p>

        </div>

        <footer>
            <div class="Retweets">
               <small class="date">{{ moment(message.timestamp).fromNow() }}</small>
            </div>
        </footer>
    </div>
  {% endfor %}
  <div style="margin-bottom: 60px;"></div>
</div>




{% endblock content %}
