{% extends "layout.html" %}
{% block content %}


<style>
header, footer {
   display: flex;
   flex-direction: row;
 }
 header .profile-thumbnail {
   width: 50px;
   height: 50px;
   border-radius: 4px;
 }
 header .profile-name {
   display: flex;
   flex-direction:column;
   margin-left: 10px;
 }
 header .follow-btn {
   display: flex;
   margin: 0 0 0 auto;
 }
 header .follow-btn button {
   border: 0;
   border-radius: 3px;
   padding: 5px;
 }
 header h3, header h4 {
   display: flex;
   margin: 0;
 }
 #inner p {
   margin-bottom: 10px;
   font-size: 20px;
 }
 #inner hr {
   margin: 20px 0;
   border-style: solid;
   opacity: 0.1;
   color:#F9E9C8;
 }
 footer .stats {
   display: flex;
   font-size: 15px;
 }
 footer .stats strong {
   font-size: 18px;
 }
 footer .stats .likes {
   margin-left: 10px;
 }
 footer .cta {
   margin-left: auto;
 }
 footer .cta button {
   border: 0;
   background: transparent;
 }
 .post{
   border: 2px solid #F9E9C8;
   padding: 10px;
 }
 .liked {
  color: red;
}
.love{
  cursor: pointer;
}
.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.menu a:hover {
  color: #000;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;cursor:pointer;" data-toggle="modal" data-target="#profile">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>{{current_user.email}}</small>
        </div>
      </header>
      <br>

      <!-- Modal -->
      <div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <div class="modal-body">
            <div class="card" style="color:#000;text-align:center;">
            <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="Card image cap" style="height:250px;">
            <div class="card-body">
              <h5 class="card-title">{{current_user.username}}</h5>
              <small>@{{current_user.email}}</small>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning"><a href="{{ url_for('account') }}" style="color:#F9E9C8;">Edit</a></button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="menu" style="border:1px solid #F9E9C8;border-radius: 5px;">
      <a class="dropdown-item" href="{{ url_for('new_post') }}"> 🍧 Post</a>
       <a class="dropdown-item" href="{{ url_for('inbox') }}"> 💬 Inbox</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('market') }}"> 👜 Market</a>
      <a class="dropdown-item" href="{{ url_for('account') }}"> 🍪 Settings</a>
      <a class="dropdown-item" href="{{ url_for('about') }}"> 🕯 About Bambi</a>
      <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
    </div>

  <br>

  <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small>&copy 2019</small>
    </div>
  </header>
  {% else %}
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><small class="text-muted">sponsored</small></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br>
    <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small>&copy 2019</small>
    </div>
  </header>
  {% endif %}
</div>



    <div class="col-lg-6">
    <div class="post">
      <header>
          <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="profile pic" class="profile-thumbnail">
          <div class="profile-name">
            <h3><a href="{{url_for('user_posts', username=post.author.username)}}" style="color: #F9E9C8;">{{post.author.username}}</a></h3>
            <small>@{{post.author.email.split("@")[0] | lower}}</small>
          </div>
          <div class="follow-btn">
            {% if post.author != current_user %}
              <i class="fas fa-heart love" style="font-size: 28px;"></i>
            {% endif %}
          </div>
        </header>

        <div id="inner">
          {% if post.author == current_user %}
            <div style="text-align: center;">
              <a class="btn btn-warning btn-sm m-1" href="{{url_for('update_post', post_id=post.id)}}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
          {% endif %}
          <p style="text-transform: uppercase;letter-spacing: 2px;text-align: center;margin-top: 4px;background:#F9E9C8;color:#000;">{{post.title}}</p>
          <p>{{post.content|urlize(40, target='_blank')}}</p>
          {% if post.image %}
          <img src="{{ url_for('static', filename='profile_pics/' + post.image) }}" style="width:100%;height:500px;border-radius:5px">
          {% endif %}
          <small class="date">{{post.date_posted.strftime('%d-%B-%Y')}}</small>
          <div id="disqus_thread"></div>
          <script>
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://baambi.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
          <!--<div class="comments">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" style="width: 40px;height: 40px;border-radius:5px;">
            <input type="text" name="comment" placeholder="Join the Conversation" style="background:#000;border:none;border-radius:5px;outline:none;width:90%;height: 35px;padding:10px;color:#F9E9C8;margin-top:5px;">
          </div>-->
        </div>
        <footer>
              <div class="stats">
              </div>
            </footer>
        </div>
        <br>
    </div>



    <div class="col-lg-3 d-none d-lg-block">
      {% if current_user.is_authenticated %}
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="{{ url_for('market') }}"  style="color:#000;text-decoration: none">
      <strong>👜 What's new on Market?</strong></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="{{ url_for('discover') }}"  style="color:#000;text-decoration: none">
      <strong>🔥 Discover Friends!</strong> Swipe left and right on discover to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
      <strong>💬 Check your Inbox! </strong>You have Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><small class="text-muted">sponsored</small></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    {% else %}
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><small class="text-muted">sponsored</small></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    {% endif %}
</div>


<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel" style="color:#000;">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
    $('.love').click(function(){
  $(this).toggleClass('liked');
});
  </script>


{% endblock content %}
