{% extends "layout.html" %}
{% block content %}
  
<style>
  .form-control{
    background: #212121;
    border: 1px solid #121212;
    height:50px;
    color: #f2f3f5;
  }
  .form-control:focus{
    background: #212121;
    border: 1px solid #121212;
    height:50px;
    outline: none;
    color: #f2f3f5;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
        <!-- User info , photos -->
      <!--<header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
        <img src="https://image.flaticon.com/icons/svg/408/408710.svg" alt="logo" class="profile-thumbnail">
        <div class="profile-name">
          <h3 class="logo">BAMBI</h3>
          <small>&copy 2019</small>
        </div>
      </header>-->
    </div>

    <div class="col-lg-6 mt-3" style="text-align: center">
      <div class="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category , message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
              {% endfor %}
          {% endif %}
          {% endwith %}
        <div id="inner">
         <div class="content-section">
          <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <h1 class="display-4" style="text-align:left;padding-bottom:5px;">Sign Up.</h1>
      <!--<img src="https://image.flaticon.com/icons/svg/408/408710.svg" class="mb-3" style="width:120px;height:120px;border-radius: 5px;">-->

      <div class="row">
      <div class="col">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="background:#212121;border:1px solid #121212;color:#f2f3f5;">@</span>
          </div>
        {% if form.username.errors %}
        {{ form.username(placeholder="username / first name", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.username(placeholder="username / first name", class="form-control form-control") }}
        {% endif %}
      </div>
      </div>
      <div class="col">
        <div class="form-group">
        {% if form.email.errors %}
        {{ form.email(placeholder="email", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(placeholder="email", class="form-control form-control") }}
        {% endif %}
      </div>
      </div>
    </div>

    <div class="row">
    <div class="col">
      <div class="form-group">
        {% if form.student_number.errors %}
        {{ form.student_number(placeholder="student number", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.student_number.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.student_number(placeholder="student number", class="form-control form-control") }}
        {% endif %}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {% if form.department.errors %}
        {{ form.department(placeholder="department", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.department.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.department(placeholder="department", class="form-control form-control") }}
        {% endif %}
      </div>
    </div>

    <div class="col">
      <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;background-color:#212121;height:60px;border:1px solid #121212;">
        gender
      </button>
      <div class="dropdown-menu p-2 pb-3" aria-labelledby="dropdownMenuButton" style="margin-left:-20px;max-height:70px;">
        {% if form.gender.errors %}
            {{ form.gender(class="is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.gender.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.gender(style="list-style-type:none;") }}
            {% endif %}
      </div>
    </div>
    </div>
  </div>

  
      

  <div class="row">
    <div class="col">
      <div class="form-group">
        {% if form.age.errors %}
        {{ form.age(placeholder="dd-mm-yyyy", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.age.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.age(placeholder="dd-mm-yyyy", class="form-control form-control",type="date") }}
        {% endif %}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {% if form.country.errors %}
        {{ form.country(placeholder="city, country", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.country.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.country(placeholder="city, country", class="form-control form-control") }}
        {% endif %}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        {% if form.hobby.errors %}
        {{ form.hobby(placeholder="hobbies / interests", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.hobby.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.hobby(placeholder="hobbies / interests", class="form-control form-control") }}
        {% endif %}
      </div>
    </div>
  </div>

      

      

      

      <div class="form-group">
        {% if form.password.errors %}
        {{ form.password(placeholder="password", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(placeholder="password", class="form-control form-control") }}
        {% endif %}
      </div>

      <div class="form-group">
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(placeholder="confirm password", class="form-control form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.confirm_password(placeholder="confirm password", class="form-control form-control") }}
        {% endif %}
      </div>

        </div>
            </fieldset>
            <div class="form-group">

        {{ form.submit(class="btn btn-outline-warning", placeholder="Login") }}

      </div>

  </form>

      <small class="text-muted">Already have an account? <a href="{{ url_for('login') }}">Login</a></small>

        </div>
    </div>
     <header class="mt-2" style="color:#F9E9C8;border:1px solid #212121;padding:8px;">
        <img src="{{ url_for('static', filename='resources/' + 'logo.svg') }}" alt="logo" class="profile-thumbnail">
        <div class="profile-name">
          <h3 class="logo">BAMBI</h3>
          <small id="year" style="margin-left:-60px"></small>
        </div>
      </header>
    </div>

    <div style="margin-bottom: 40px;"></div>


{% endblock content %}