{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block position-fixed">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header class="mb-2">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{current_user.username}}</h3>
          <small>@{{current_user.email.split("@")[0] | lower}}</small>
        </div>
      </header>

    <div class="card about mb-2" style="color:#fff;background:#191917;border-radius:10px;">
    <div class="card-body">
      <!--<p> 🎓 Studies at <span>Near East University</span></p>-->
          <p> 🏅 Majors in <span>{{current_user.department}}</span></p>
          <p> ☂ Student Number: <span>{{current_user.student_number}}</span></p>
          <p> 🙊 Born <span>{{ moment(current_user.age).fromNow() }}</span></p>
          <p> {% if current_user.gender == 'male' %} 👨 {% else %}👩 {% endif %} Gender: <span>{{current_user.gender.title()}}</span></p>
          <p> 🌍 From <span>{{current_user.country.title()}}</span></p>
          <!--<p> 🚖 Lives in <span>Nicosia, Cyprus</span></p>-->
          <p> 👣 Interested in <span>{{current_user.hobby}}</span></p>
          <p> 💪 Joined <span>{{ moment(current_user.date_joined).fromNow() }}</span></p>
          <small>⏰ Last seen on: {{ moment(current_user.last_seen).format('LLL') }}</small>
    </div>
  </div>

  <header data-toggle="popover" data-content="🍌: Click to know more about Bambi">
    <a href="{{url_for('about')}}" target="_blank" style="color: #F9E9C8;text-decoration: none;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small id="year"></small>
    </a>
    </div>
  </header>
  {% else %}
  <header>
    <img src="{{ url_for('static', filename='profile_pics/' + 'logod.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">Hello Friend!</h3>
      <small>how about signing in?</small>
    </div>
  </header>
  <br>
     <div class="menu" style="background:#191917;border-radius:10px;">
      <a class="dropdown-item" href="{{ url_for('f_posts') }}"> 🍧 Friend Posts</a>
       <a class="dropdown-item" href="{{ url_for('inbox') }}"> 💬 Inbox</a>
      <a class="dropdown-item" href="{{ url_for('discover') }}"> 🔥 Discover Friends</a>
      <a class="dropdown-item" href="{{ url_for('explore') }}"> 🔱 Explore</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"> 🎬 Blog</a> 
      <a class="dropdown-item" href="{{ url_for('about') }}"> 👋 About Bambi</a>
    </div>
  {% endif %}
</div>



    <div class="col-lg-6 offset-lg-3"> 
      
      <h3 style="text-align:center"><a href="{{url_for('user_posts', username=recipient)}}" style="color:#fff;">{{recipient.title()}}
             {% if recipient in ["harun" , "bambi"] %}
             <img src="https://image.flaticon.com/icons/svg/1271/1271380.svg" style="width:17px;height:17px;margin-left: -5px;">
             {% endif %}
           </a></h3>

           <div style="overflow:auto;height:460px;padding:5px;">

      {% for message in messages %}
          <p class="mb-2" 
          style="
          {% if message.author == current_user%}
            text-align:left;padding:5px;border-radius:10px;display:inline-block;float:right;clear:both;max-width:75%;background:#191917
          {%else%}
            text-align:left;padding:5px;border-radius:10px;display:inline-block;max-width:75%;border:2px solid #191917;
          {% endif %}">

          {% if message.author != current_user %}
          <img src="{{ url_for('static', filename='profile_pics/' + message.author.image_file) }}" alt="profile pic" title="{{message.author.username.lower()}}" style="width:35px;height:35px;border-radius:50%">
          {% endif %} 

          {{message.body}} 

          <br>
          <small style="display:inline-block;float:right;">{{ moment(message.timestamp).fromNow() }}</small>
        </p>
        <br>
        {% endfor %}

        </div>

      <div class="post" style="background:none;padding:2px;">
        <div id="inner">
         <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
              <!--<legend class="border-bottom mb-2 pb-2">Message {{recipient.title()}}</legend>-->
            <div class="input-group mt-2">
              {{ form.message.label(placeholder="message...", class="form-control-label") }}
                  {% if form.message.errors %}
                    {{ form.message(placeholder="message...", class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.message(placeholder="type message...", class="form-control form-control-sm subtle", rows="2", style="border:1px solid #007bff;border-radius:5px 0px;") }}
                  {% endif %}

              <div class="input-group-append">
                {{ form.submit(class="btn btn-outline-primary", style="margin-top:2px;") }}
              </div>
            </div>
        </form>
      </div>
  </div>
</div>



    <div class="col-lg-3 d-none d-lg-block position-fixed offset-lg-9">
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div style="background:#191917;padding:7px;cursor:pointer;border-radius:5px;overflow:auto;height:400px;">
        <h5 style="padding-left: 3px;">Recent Chats</h5>
        {% for person in recent_chats if person.username != recipient %}
        <header>
        <a href="{{url_for('message', recipient=person.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + person.image_file) }}" alt="default profile" class="profile-thumbnail"></a>
        <div class="profile-name">
          <h3>{{person.username}}</h3>
          {% if person.country == current_user.country %}
          <small>From {{person.country}}</small>
          {% endif %}
          {% if person.department == current_user.department %}
          <small>Studies {{person.department}}</small>
          {% endif %}
        </div>
        <div class="follow-btn">
            {% if person != current_user and not current_user.is_following(person) %}<a href="{{ url_for('follow', username=person.username) }}" style="font-size:12px;text-decoration:none;">Follow</a>{% endif %}
          </div>
      </header>
      {% endfor %}
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
     $('.love').click(function(){
      $(this).toggleClass('liked');
    });
  </script>

  <script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({
    trigger: 'hover'
  }); 
});
</script>

<script id="dsq-count-scr" src="//baambi.disqus.com/count.js" async></script>

{% endblock content %}
