{% extends "layout.html" %}
{% block content %}


<style>
header, footer {
   display: flex;
   flex-direction: row;
 }
 header .profile-thumbnail {
   width: 50px;
   height: 50px;
   border-radius: 4px;
 }
 header .profile-name {
   display: flex;
   flex-direction:column;
   margin-left: 10px;
 }
 header .follow-btn {
   display: flex;
   margin: 0 0 0 auto;
 }
 header .follow-btn button {
   border: 0;
   border-radius: 3px;
   padding: 5px;
 }
 header h3, header h4 {
   display: flex;
   margin: 0;
 }
 #inner p {
   margin-bottom: 10px;
   font-size: 20px;
 }
 #inner hr {
   margin: 20px 0;
   border-style: solid;
   opacity: 0.1;
   color:#F9E9C8;
 }
 footer .stats {
   display: flex;
   font-size: 15px;
 }
 footer .stats strong {
   font-size: 18px;
 }
 footer .stats .likes {
   margin-left: 10px;
 }
 footer .cta {
   margin-left: auto;
 }
 footer .cta button {
   border: 0;
   background: transparent;
 }
 .post{
   border: 2px solid #F9E9C8;
   padding: 10px;
 }
 .post_btn{
  background-color : #000;
  color: #F9E9C8;
  padding: 10px 20px;
  border:none;
  outline:none;
  border:2px solid #F9E9C8;
  padding: 2px;
  border-radius: 50%;
  height:70px;
  width:70px;
}
#new_post{
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.liked {
  color: red;
}
.love{
  cursor: pointer;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <!-- User info , photos -->
      {% if current_user.is_authenticated %}
      <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;cursor:pointer;" data-toggle="modal" data-target="#profile">
        <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{user.username}} </h3>
          {% if current_user != user %}
          <a id="follow" class="badge badge-sm badge-primary" href="#">✌ Follow</a>
          {% else %}
            <small>{{user.email}}</small>
          {% endif %}
           <div style="padding-top:3px;margin-left: -60px">
           <a class="badge badge-sm badge-info" href="#">{{ posts.total }} posts</a> | 
           <a class="badge badge-sm badge-dark followers" href="#">10 followers</a> |
           <a class="badge badge-sm badge-success" href="#">3 following</a> 
         </div> 
        </div>
      </header>
      <br>
    <div class="card about" style="color:#fff;background:#000;text-align:left;border:1px solid #F9E9C8;">
    <div class="card-body">
      <p> 🎓 Studies at <span>Near East University</span></p>
      <p> 🏅 Majors in <span>{{user.department}}</span></p>
      <p> ☂ Student Number: <span>{{user.student_number}}</span></p>
      <p> 🙊 Is <span>{{user.age}}</span> years old</p>
      <p> 🌍 From <span>{{user.country}}</span></p>
      <p> 🚖 Lives in <span>Nicosia, Cyprus</span></p>
      <p> 💎 Interested in <span>{{user.hobby}}</span></p>
      {% if user != current_user %}
      <p class="f"></p> 
      {% else %}
      <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#info" style="color:#fff;">🍁 edit</a>
      {% endif %}
    </div>
  </div>

  <br>

  <header class="d-none d-lg-flex" style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small>&copy 2019</small>
    </div>
  </header>
  {% else %}
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    <br>
    <header style="color:#F9E9C8;border:2px solid #F9E9C8;padding:8px;">
    <img src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo" class="profile-thumbnail">
    <div class="profile-name">
      <h3 class="logo">BAMBI</h3>
      <small>&copy 2019</small>
    </div>
  </header>
  {% endif %}
</div>



    <div class="col-lg-6">
      <!-- content area -->
      <h1 class="mb-3">
      {% if current_user == user %}
          My Posts ({{ posts.total }})
        {% else %}
          Posts by {{ user.username }} ({{ posts.total }})
        {% endif %}
        </h1>
      {% for post in posts.items %}
    <div class="post">
      <header>
          <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="profile pic" class="profile-thumbnail">
          <div class="profile-name">
            <h3>{{post.author.username}}</h3>
            <small>@{{post.author.email}}</small>
          </div>
          {% if current_user != user %}
          <div class="follow-btn">
            <i class="fas fa-heart love" style="font-size: 28px;"></i>
          </div>
          {% endif %}
        </header>

        <div id="inner">
          <p style="text-transform: uppercase;letter-spacing: 2px;text-align: center;margin-top: 4px;background:#F9E9C8;color:#000;"><a href=" {{ url_for('post', post_id=post.id) }} " style="color:#000;">{{post.title}}</a></p>
          <p>{{post.content|urlize(40, target='_blank')}}</p>
          <div class="comments">
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" style="width: 40px;height: 40px;border-radius:5px;">
            <input type="text" name="comment" placeholder="Join the Conversation" style="background:#000;border:none;border-radius:5px;outline:none;width:85%;height: 35px;padding:10px;color:#F9E9C8;margin-top:5px;">
          </div>
          <br>
          {% if post.author == current_user %}
            <div style="text-align: center;">
              <a class="btn btn-warning btn-sm m-1" href="{{url_for('update_post', post_id=post.id)}}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel" style="color:#000;">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <footer>
          <div class="stats">
            <div class="Retweets">
               <a  class="badge badge-dark" href="{{url_for('post', post_id=post.id)}}">🍒comments</a> | <small class="date">{{post.date_posted.strftime('%d-%B-%Y')}}</small>
            </div>
        </footer>
    </div>
    <br>
  {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a href="{{ url_for('user_posts', username=user.username, page=page_num) }}" class="btn btn-warning mb-4">{{page_num}}</a>
        {% else %}
          <a href="{{ url_for('user_posts', username=user.username, page=page_num) }}" class="btn btn-outline-warning mb-4">{{page_num}}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
</div>



    <div class="col-lg-3 d-none d-lg-block">
      {% if current_user.is_authenticated %}
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="{{ url_for('new_post') }}"  style="color:#000;text-decoration: none">
      <strong>🍧 Post Something!</strong> Tell your friends what you're up to.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="{{ url_for('discover') }}"  style="color:#000;text-decoration: none">
      <strong>🔥 Discover Friends!</strong> Swipe left and right on discover to make friends.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
      <strong>💬 Check your Inbox! </strong>You have Unread Messages
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    <div id="new_post">
      <button class="post_btn"><a href="{{ url_for('new_post') }}" style="color:#F9E9C8;"><i class="fas fa-feather-alt" style="font-size:30px;"></i></a></button>
    </div>
    {% else %}
    <div class="card" style="color:#000;">
      <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + 'logo.png') }}" alt="logo">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-ad"></i></h5>
        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
      </div>
      <div class="card-footer">
        <small class="text-muted logo">BAMBI</small>
      </div>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
    $('.love').click(function(){
  $(this).toggleClass('liked');
});
    $('#follow').click(function(){
      $(this).text($(this).text() == '✌ Follow' ? '😬 Unfollow' : '✌ Follow');
      $('.followers').text($('.followers').text() == '10 followers' ? '11 followers' : '10 followers');
      $("#follow").toggleClass("badge-primary");
      $("#follow").toggleClass("badge-danger");
      $('.f').text($('.f').text() == '' ? '💛 You follow {{user.username}}' : '');
    })
  </script>



  <!-- User Info Modal -->
      <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card" style="color:#000;text-align:center;">
            <img class="card-img-top" src="{{ image_file }}" alt="Card image cap" style="height:250px;">
            <div class="card-body">
               <div class="content-section">
          <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <legend class="border-bottom mb-2 pb-2">Account Info</legend>
              <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.department.label(class="form-control-label") }}
                {% if form.department.errors %}
                {{ form.department(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.department.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.department(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.student_number.label(class="form-control-label") }}
                {% if form.student_number.errors %}
                {{ form.student_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.student_number.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.student_number(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.country.label(class="form-control-label") }}
                {% if form.country.errors %}
                {{ form.country(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.country.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.country(class="form-control form-control-lg") }}
                {% endif %}
              </div>
               <div class="form-group">
                {{ form.age.label(class="form-control-label") }}
                {% if form.age.errors %}
                {{ form.age(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.age.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.hobby.label(class="form-control-label") }}
                {% if form.hobby.errors %}
                {{ form.hobby(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.hobby.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.hobby(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                  {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                  {% endfor %}
                {% endif %}
            </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-warning") }}
            </div>
          </form>

        </div>
    </div>
    <br>
    </div>

            </div>
          </div>
          </div>
        </div>
      </div>



{% endblock content %}