body{
  background:#000;
  color: #F9E9C8;
}
nav{
    background: #000;
}
.search{
  margin-right:5px;
  border: 1px solid #F9E9C8;
  outline:none;
  color:#000;
  background:#fff;
}
.search:focus{
  background:#000;
  outline:none;
  border:#000;
  color:#F9E9C8;
}
.settings li{
  padding-right:10px;
}
.logo{
  color:#F9E9C8;
  letter-spacing:2px;
}
.about span, small{
  color:#1e90ff;
}
#search {
  box-sizing: border-box;
  background-position: 14px 12px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  background: transparent;
  color: #F9E9C8;
  border-radius: 5px;
}

#search:focus {
  border: 1px solid #F9E9C8;
  outline: none;
}

.d {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 195px;
  margin-top: 5px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.d a:hover {background-color: #ddd;}

.show {display: block;}

::selection {
  color: #000;
  background: #F9E9C8;
}
::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #F9E9C8;
}
h3{
  font-weight: 300;
}
