body{
  background:#070707; /*#070707 bg and #191917 for posts*/
  color:#fff;
}
nav{
    background:#070707;
}
.search{
  margin-right:5px;
  border: 1px solid #F9E9C8;
  outline:none;
  color:#000;
  background:#0c0c0b;
}
.search:focus{
  background:#000;
  outline:none;
  border:#000;
  color:#F9E9C8;
}
.settings li{
  padding-right:10px;
}
.logo{
  color:#fff;
  letter-spacing:2px;
}
.about span, small{
  color:#1e90ff;
}
#search {
  box-sizing: border-box;
  background-position: 14px 12px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  background: transparent;
  color: #F9E9C8;
  border-radius: 5px;
}

#search:focus {
  border: 1px solid #F9E9C8;
  outline: none;
}

.d {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 195px;
  margin-top: 5px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.d a:hover {background-color: #ddd;}

.show {display: block;}

::selection {
  color: #000;
  background: #F9E9C8;
}
::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #F9E9C8;
}
h3{
  font-weight: 300;
}


header{
   display: flex;
   flex-direction: row;
   color:#fff;
   background:#191917;
   border-radius:10px;
   padding:8px;
   cursor:pointer;
 }
 header .profile-thumbnail {
   width: 55px;
   height: 55px;
   border-radius: 50%;
 }
 header .profile-name {
   display: flex;
   flex-direction:column;
   margin-left: 10px;
 }
 header .follow-btn {
   display: flex;
   margin: 0 0 0 auto;
 }
 header .follow-btn button {
   border: 0;
   border-radius: 3px;
   padding: 5px;
 }
 header h3, header h4 {
   display: flex;
   margin: 0;
 }
 #inner p {
   margin-bottom:5px;
   font-size: 17px;
   color:#fff; /* #f8f8f2 */
 }
 footer .stats {
   display: flex;
   font-size: 15px;
 }
 footer .stats strong {
   font-size: 18px;
 }
 footer .stats .likes {
   margin-left: 10px;
 }
 footer .cta {
   margin-left: auto;
 }
 footer .cta button {
   border: 0;
   background: transparent;
 }
 .post{
   background:#191917;
   border-radius:10px;
   padding:7px;
 }
 .post .profile-thumbnail{
  width: 45px;
  height: 45px;
 }
 .post h3{
  font-weight: 400;
  font-size: 1.4rem;
 }
 .post_btn{
  background-color : #000;
  color: #F9E9C8;
  padding: 10px 20px;
  border:none;
  outline:none;
  border:2px solid #F9E9C8;
  padding: 2px;
  border-radius: 50%;
  height:70px;
  width:70px;
}
#new_post{
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.liked {
  color: red;
}
.love{
  cursor: pointer;
}
.subtle{
  background-color: #070707;
  border: none;
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 10px;
}
.subtle:focus{
  background-color: #070707;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  color: #fff;
}
.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.menu a:hover {
  color: #000;
}
.cardi{
  background: #070707;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}
.cardi::-webkit-scrollbar {
  display: none;
}
.scroll img{
  width:100%;
  height:100%;
  border-radius:10px;
}
.card--content {
  background: #070707; /*linear-gradient(#ffcccc,#ccffff);*/
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius:10px;
  border:1px solid #191917;
  border-radius:10px;
  flex: 0 0 auto;
}
.dark-theme{
  background: #191917;
  color: #fff;
  border:1px solid #191917 !important;
}
.dark-theme:focus{
  background: #191917;
  color: #fff;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
.comment-styles{
  background:none;
  border:none;
  border-radius:5px;
  outline:none;
  width:90%;
  height: 35px;
  color:#fff;
  margin-top:5px;
}
.comment-styles:focus{
  background:none;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  color:#fff;
}


/*LAYOUTS*/
.post_btn{
  background-color : #000;
  color: #F9E9C8;
  padding: 10px 20px;
  outline:none;
  border:1px solid #F9E9C8;
  padding: 2px;
  border-radius: 50%;
  height:50px;
  width:50px;
}
.post_btn:hover{
  outline: none;
}
#new_post{
  position: fixed;
  bottom: 20px;
  right: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
     
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F9E9C8; 
}
.progress-container {
  width: 100%;
  height: 2px;
  background: #070707;
}

.progress-bar {
  height:2px;
  background: #4caf50;
  width: 0%;
}
.bottom {
  overflow: hidden;
  background-color: #070707;
  position: fixed;
  bottom: 0;
  width: 100%;
  }

.bottom a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width:33.3%;
  height: 45px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.bottom a.active {
  background-color: #4CAF50;
  color: white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav  .closebtn:hover{
  color:#fff;
}
